{% extends "layout.html" %}
{% block bodyClass %}{{ super() }} apos-raphael-page{% endblock %}

{% block mainContent %}
  <div>
    <h1>{{ page.title | e }}</h1>

    <div class="apos-raphael-container">
      <div id="apos-raphael-target">

      </div>

      <script type="text/javascript">
        var raphaelOptions = {
          selector: 'apos-raphael-target',
          regions: {{ aposPruneRaphaelData(items) | json }},
          svg: {{ raphaelSvg | json }},
          // fade: true
        }

        $(function(){
          var raph = new AposRenderRaphaelMap(raphaelOptions);
        });

      </script>

      <div class="apos-raphael-sidebar">
      </div>
    </div>
  </div>
{% endblock %}
